body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}
h1,h2 {
    text-align: center;
 color: blue;
}

body {
    background-color: rgb(15, 253, 7);
}

img {
    display: block;
    width: 60%;
    margin: auto;
  }


img:hover{
    transform: scale(1.1);
    transition-duration: 0.4s
  }

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
    transition: background-color 0.3s, color 0.3 ;
}
.link-button:hover {
    background-color: #3619c5; 
    color: white;
  }
   
   
